#PauseRoot{
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-background-image: url("../pause.png");
}
#PauseLabel{
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-font-color: #FFFFFF;
    -fx-border-color: #FFFFFF;
    -fx-border-style: hidden hidden solid hidden;
}
#CenterGridPane{
    -fx-vgap: 15;
}
#ResumeButton, #RestartButton, #ExitButton{
    -fx-alignment: center;
    -fx-font-size: 20px;
}