#MainWinBorderPane{
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: 4px;
    -fx-background-image: url("../win.png");
}
#WinLabel{
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-style: hidden hidden solid hidden;
}
#CenterGridPane{
    -fx-vgap: 15;
}
#PlayAgainButton, #ExitButton{
    -fx-alignment: center;
    -fx-font-size: 20px;
}